include *.png *.jpg *.jpeg

out_file/heic_fol/030124/*
out_file/heic_fol/080124/*
out_file/heic_fol/130124/*

!out_file/heic_fol/030124/.gitkeep
!out_file/heic_fol/080124/.gitkeep
!out_file/heic_fol/130124/.gitkeep

out_file/image1/*
!out_file/image1/.gitkeep

out_file/pdf1_image/*
!out_file/pdf1_image/.gitkeep

out_file/pdf2_image/*
!out_file/pdf2_image/.gitkeep

__pycache__/

debug

*out_file*

test*

example_output/*
!example_output/.gitkeep

*.ipynb

name_and_time

*.pt

obj_detect*

dewarp_yolo_sar*

yolo_dewarp_sar*

dewarp_sar_yolo*

derive_cubic.py

*pdf*

graphics_service.py

yolo_test

sar_0.27*

plot_cubic*